{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}

<h1>Log in</h1>

<form class="login" method="post">

    <p>
        <span class="field size-1">
            <label for="username">Username:</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="username" type="text" name="username" autofocus value="{{ last_username|e('html_attr') }}" required />
        </span>
    </p>
    <p>
        <span class="field size-1">
            <label for="password">Password:</label>
            <input id="password" type="password" required name="password" />
        </span>
    </p>
    <p>
        <span class="field size-1">
            <label for="two_fa_key">2FA key (if you have enabled it):</label>
            <input id="two_fa_key" type="text" name="two_fa_key" />
        </span>
    </p>
    <p>
        <span class="field size-1">
            <input type="checkbox" id="remember-me" name="_remember_me" />
            <label for="remember-me">Remember me</label>
        </span>
    </p>

    <p>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <span class="field size-1">
            <input type="submit" value="Log in" />
        </span>
        <span class="field size-1">
            <a class="button" href="{{ path('reset') }}">Reset password</a>
        </span>
        {% if user_registrations %}
            <span class="field size-1">
                <a class="button" href="{{ path('register') }}">Register</a>
            </span>
        {% endif %}
    </p>
</form>

{% endblock %}
