{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}

<h1>Register</h1>
<form class="register" method="post">

    {% if error %}
        <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <p>
        <span class="field size-1">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Username
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="username" type="text" placeholder="Username" autofocus required name="username">
        </span>
    </p>
    <p>
        <span class="field size-1">
            <label for="email">Email</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="email" type="email" required name="email">
        </span>
    </p>
    <p>
        <span class="field size-1">
            <label for="password">Password</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                   id="password" type="password" required name="password">
        </span>
    </p>

    <p>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <input type="submit" value="Create account" />

        <a class="button" href="{{ path('login') }}">Log in</a>
    </p>
</form>

{% endblock %}
