<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>

    <rule ref="PSR12" />

    <file>.</file>

    <exclude-pattern>var/</exclude-pattern>
    <exclude-pattern>node_modules/</exclude-pattern>
    <exclude-pattern>vendor/</exclude-pattern>
    <exclude-pattern>public/build/</exclude-pattern>
    <exclude-pattern>./bin/.phpunit/</exclude-pattern>
    <exclude-pattern>*.js</exclude-pattern>

</ruleset>
