/******************************************************************************/
/* Reset                                                                      */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,
blockquote,th,td,hr { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset,img { border:0 }
address,caption,cite,code,dfn,em,th,var { font-style:normal; font-weight:normal }
ol,ul { list-style:none }
caption,th { text-align:left }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal }
q:before,q:after { content:'' }
abbr,acronym { border:0 }


/******************************************************************************/
/* Fonts                                                                      */
body{ font-family: Cochin, "Palatino Linotype", Palatino, Palladio, "URW Palladio L",
    "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter",
    "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow",
    "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L",
    Georgia, serif; background-color:#fefefe }
select,input,button,textarea,button{ font:99% arial,helvetica,clean,sans-serif }
table{ font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{ font-family:monospace;font-size:108%;line-height:100% }


/******************************************************************************/
/* General                                                                    */
body { background-color:white }
#wrapper { }
#view { padding-top:1em }
a:link { color:blue; text-decoration:none; font-weight:bolder }
a:link:hover { text-decoration:underline }
.hide { visibility:hidden; display:none }
ol { margin-left:1em }
h2 { text-align:center; font-size:2em; padding:1em 0; color:black }
h3 { font-size: 1.6em; border-bottom:1px dashed black; margin:1.3em 0 0.3em 0; color:black }
em { font-style:italic }
.columnar { list-style-type:none }
.columnar li { width:33%; float:left; margin:0; text-align:left }
@media print {
    .noprint { display:none }
}
.clear { clear:both; width:100% }
.mono { font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace }

table { border-color:black; border-style:solid; border-width:2px 0; margin:1em auto }
caption { text-align:center; font-style:italic }
th,
td { padding:0.2em 0.3em; border:1px solid #efefef }
thead th { border-bottom:1px solid black; font-weight:bolder }


/******************************************************************************/
/* Prose                                                                      */
.prose { margin:1em auto; line-height:1.1em; text-align:justify; width:66em }
.prose h1 { border:2px dashed yellow; background-color:red }
.prose h1:after { content:"Do not use H1 headings!" }
.prose h4 { margin-top:1em }
.prose p { margin:0.3em 0 }
.prose ul,
.prose ol { margin-left:2em }
.prose ul li { list-style-type:circle }
.prose ul li p { margin:0 }
.prose ol.arabic { list-style-type:decimal }
.prose ol.loweralpha { list-style-type:lower-alpha }
.prose ol.lowerroman { list-style-type:lower-roman }
.prose ol.upperalpha { list-style-type:upper-alpha }
.prose ol.upperroman { list-style-type:upper-roman }
.prose dt { font-weight:bolder }
.prose dt .classifier-delimiter { display:none }
.prose dt .classifier { float:right; font-style:italic }
.prose dd { margin-left:2em }
.prose pre { background-color:darkslategray;color:yellow; padding:0.3em; font-size:smaller;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    margin:1em 0 }
.prose blockquote { margin:1em 2em; font-size:smaller }
.prose blockquote p.attribution { text-align:right;margin-top:0.3em }
.prose tt { background-color:#efefef }
.prose tt:hover { background-color:#dedede }
.prose #footnotes { font-size:smaller; border-top:1px solid }
.prose #footnotes table { width:100%; margin:0 }


table.docinfo col.docinfo-name { text-align:right }
table.docinfo,
table.docinfo th,
table.docinfo td,
table.docutils.footnote,
table.docutils.footnote th,
table.docutils.footnote td { border:0 }

/******************************************************************************/
/* Header & Footer                                                            */
#header .user { float:right; font-size:90%; margin-right:1em }
#header h1 { font-size:2em; text-align:right; margin-right:50px; height:170px; color:#e19003 }
#header h1 a { color:#e19003; text-decoration:none;
    letter-spacing:0.1em; word-spacing:0.2em}

#footer p { clear:both; line-height:2em; text-align:right; font-size:smaller;
    padding:4em 1em; color:white; letter-spacing:0.07em }
#footer .kohana { margin:1em 0 2em 0 }
#footer .kohana table { margin:0; width:100% }


/******************************************************************************/
/* Messages                                                                   */
.message {padding:0.8em; margin:0 1em 1em 1em; border:2px solid #ddd }
.message a { font-weight:bolder; text-decoration:underline }
.error { background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4 }
.notice { background:#FFF6BF;color:#514721;border-color:#FFD324 }
.success { background:#E6EFC2;color:#264409;border-color:#C6D880 }
.error a { color:#8a1f11 }
.notice a { color:#514721 }
.success a { color:#264409 }
.negative { color:red }
#kohana_error .message { margin:0; border:0; padding:0; font-family:monospace }


/******************************************************************************/
/* LaTeX logo markup from http://nitens.org/taraborelli/texlogo               */
.latex { font-family: Times, "Times New Roman", serif; letter-spacing: 1px }
.latex sup { text-transform: uppercase; letter-spacing: 1px; font-size: 0.85em;
    vertical-align: 0.15em; margin-left: -0.36em; margin-right: -0.15em }
.latex sub { text-transform: uppercase; vertical-align: -0.5ex;
    margin-left: -0.1667em; margin-right: -0.125em; font-size: 1em }


/******************************************************************************/
/* CSS Tabs, (c) Joshua Kaufman, unraveled, 2007.                             */
/* http://unraveled.com/publications/css_tabs/                                */
/* Licensed under Creative Commons Attribution 3.0                            */
/* http://creativecommons.org/licenses/by/3.0/                                */
.tabs { /* general settings */
text-align: left; /* set to left, right or center */
margin: 1em 0 0 0; /* set margins as desired */
border-bottom: 1px solid black; /* set border COLOR as desired */
list-style-type: none;
padding: 3px 10px 3px 20px; /* THIRD number must change with respect to padding-top (X) below */ }
.tabs li { display: inline } /* do not change */
.tabs li.selected { /* settings for selected tab */
border-bottom: 1px solid white; /* set border color to page background color */
background-color: white; /* set background color to match above border color */ }
.tabs li.selected a { /* settings for selected tab link */
background-color: white; /* set selected tab background color as desired */
color: black; /* set selected tab link color as desired */
position: relative; top: 1px;
border-color: black;
padding-top: 4px; /* must change with respect to padding (X) above and below */ }
.tabs li a { /* settings for all tab links */
padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change wrt padding-top (X) above */
border: 1px solid black; /* set border COLOR as desired; usually matches border color specified in #tabnav */
background-color: whitesmoke; /* set unselected tab background color as desired */
color: black; /* set unselected tab link color as desired */
margin-right: 0.5em; /* set additional spacing between tabs as desired */
text-decoration: none; border-bottom: none }
.tabs a:hover { /* settings for hover effect */
color: blue }


/******************************************************************************/
/* Individual views                                                           */

.blog .menu { position:absolute; left:0; border:1px solid black; border-width:0 1px 1px 1px; margin:1em 0 0 20px; width:16em }
.blog .menu ol { margin:0 }
.blog .menu li { padding:0 }
.blog .menu li a { display:block; border-top:1px solid black; padding:0.3em 1em }
.blog .menu li li.selected a { font-weight:bolder; letter-spacing:0.1em; color:black }
.blog .menu li li.selected a:hover { text-decoration:none }
.blog .menu li li a { padding:0.2em 1em 0.1em 3em; font-size:smaller; border-top:0 }
.blog .items { width:66em; margin:auto }
.blog .item { margin:1em auto; border:1px solid black; border-width:1px 0 }
.blog .item.image { width:506px; border:1px solid #999 }
.blog .item h2 { font-size:1.3em; font-variant:small-caps }
.blog .item h3 { border-bottom:1px solid black; margin:1.3em 0 0.3em 0; color:#652c02 }
.blog .item hr { width:45%; margin:1em auto }
.blog .img { margin-bottom:3px }
.blog img { display:block; margin:3px auto }
.blog .caption { background-color:white; border-top:1px solid #999; padding:3px 3px 4px 3px }
.blog .metadata { color:black; text-align:right; margin:3px; font-size:smaller }
.blog .tags { text-align:right; margin-right:3px; font-size:smaller; margin-bottom:0.3em;
    clear:right; font-variant:small-caps }

.emails .email {text-align:left; border:2px solid #600; width:120ex; margin:1em auto; padding:0.4em}
.emails.index .from {color:#600;font-variant:small-caps}
.emails.index .email.from-me {border:2px solid #060}
.emails.index .email.from-me .from { color:#060 }
.emails form.email { background-color:#efefef; text-align:center }
.emails form.email p { margin:0.3em 0 }
.emails form.email label { width:15%; display:inline-block; text-align:left }
.emails form.email input,
.emails form.email select { width:82% }
.emails form.email textarea { width:98% }
.emails form.email .subject { font-size:1.4em }
.emails form.email .submit { text-align:right }
.emails form.email .submit input { width:auto }
.emails.index .unanswered a { background-color:#FF0 }
.emails.index .columnar li { text-align:center }

.images.edit .view { margin:auto; width:900px; text-align:right }
.images.edit .image { float:left; margin:0 1em 1em 1em; width:500px; height:500px; text-align:center }
.images.edit form { margin-left:500px; text-align:right }
.images.edit form p { margin:0.3em }
.images.edit textarea,
.images.edit select,
.images.edit input[type=text] { width:380px }
.images.view #view,
.images.edit #view,
.images.view .tabs li.selected a,
.images.edit .tabs li.selected a { background-color:black; color:white }
.images.view .content { text-align:center; max-width:510px; margin:3em auto 2px auto; color:white }
.images.view .caption { text-align:left; margin:1.3em; font-size:larger }
.images.view .metadata { margin-bottom:3em; font-variant:small-caps; font-size:smaller; color:#9f9a4e }
.images.view .metadata .licence { font-size:smaller }
.images.index .columnar li { width:4em; text-align:center }
.images.index .thumbs a { float:left; margin:0.3em }
.images.index .thumbs img { border:1px solid #9F9A4E }
.images.index .thumbs a:hover img { border:1px solid white }

.journal .content { width:66em; margin:auto }
.journal.edit h2 { text-align:center; width:100%; position:relative }
.journal.edit h2 input { width:100%; padding:0.1em 0.2em }
.journal.edit .auth_level { float:right }
.journal.edit textarea { padding:0.7em; display:block; clear:both; width:100% }
.journal.edit .tags { text-align:right }
.journal.edit .tags label { width:10% }
.journal.edit .tags input { width:90% }
.journal.edit .submit { text-align:right; margin-top:0.5em }
.journal.edit .docs { margin:1em }
/*.journal.index #view .content a,
.journal.view #view .content a,
.journal.view #view .metadata a { color:blue }*/
.journal.index #view,
.journal.view #view,
.journal.edit #view,
.journal.index .tabs li.selected a,
.journal.view .tabs li.selected a,
.journal.edit .tabs li.selected a,
.journal h2 { background-color:white; color:black }
.journal h3 { color:black; padding:0 0 2px 0; border-bottom:3px double #9a9a9a }
.journal.index h4 { font-size:larger; font-weight:bolder; font-variant:small-caps }
.journal.view .date_and_time { text-align:center }
.journal hr { width:18%; margin:1em auto }
.journal .metadata { text-align:center }
.journal #view { padding-bottom:2em }
.journal .metadata { text-align:right; font-size:smaller; padding-bottom:2em; border-bottom:1px dashed #9a9a9a }

.people.index .new { text-align:center }
.people.person form { margin:auto; width:90ex; text-align:center }
.people.person form label { display:block; text-align:left }
.people.person form input,
.people.person form textarea { width:100% }
.people.person form .submit { text-align:right }
.people.person form .submit input { width:auto }
.people.login .content { text-align:center }
.people.login #openid_identifier { background-position:0% 50%; padding-left:18px;
    background-repeat:no-repeat }
