@import "../../node_modules/normalize.css/normalize.css";
@import "flash";
@import "post";
@import "security";
@import "contact";
@import "tags";

@font-color: #283434;
@font-color-light: #768282;
@font-family: serif;
@border-primary: 2px solid #789987;
@border-secondary: 1px solid #def3e6;
@mobile: ~"screen and (max-width: 500px)";

article {
  max-width: 66em;
  margin: auto;

  .meta {
    color: #626463;
    font-variant: small-caps;

    a {
      font-variant: none;
      color: inherit;
    }
  }

  img { max-width: 100%; }
}

blockquote {
  border-left: 4px solid @font-color-light;
  padding-left: 1em;
  margin: 0;
}

code {
  color: black;
  background: rgba(71, 87, 120, 0.1);
  padding: 1px 4px;
  border-radius: 3px;
  white-space: pre-wrap;
  line-break: anywhere;
  font-size: 88%;
}

hr {
  height: 2px;
  width: 50%;
  color: @font-color-light;
  background: @font-color-light;
  font-size: 0;
  border: 0;
}

table {
  margin: auto;
  border: @border-primary;
  border-left-width: 0;
  border-right-width: 0;
  border-collapse: collapse;

  th,
  td {
    padding: 0.4em 0.8em;
    vertical-align: top;
    p { margin: 0; }
  }
  thead th { border-bottom: @border-secondary; }
}

body {
  color: @font-color;
  font-family: @font-family;
  display: flex;
  flex-direction: column;
}

body > main {
  flex: 10;
  padding: 1rem;
}

body > footer {
  flex: 1;
  text-align: right;
  font-size: smaller;
  border-top: @border-primary;
  padding: 1rem;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    li { flex: 1; }
  }
}

a {
  color: #4e4efa;
  text-decoration: none;
}

body > header {
  flex: 2;
  text-align: center;
  border-bottom: @border-primary;
  padding: 0.5rem;
  background-color: #f1f8f2;
  a { color: @font-color; }

  h1 {
    color: @font-color;
    margin: 0;
    font-variant: small-caps;
    letter-spacing: 0.1em;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    flex: 1;
    padding: 0 0.2em;
  }
}

a:hover {
  text-decoration: underline;
  color: #2c2cff;
}

/*
 * Forms
 */
form {
  background-color: #efefef;
  padding: 1rem;

  label { display: block; }

  .fields {
    display: flex;
    align-items: start;
    margin-bottom: 0.4rem;
    flex-wrap: wrap;
    .field.size-1 { flex: 1; }
    .field.size-2 { flex: 2; }
    .field.size-4 { flex: 4; }
    .field.size-6 { flex: 6; }
  }

  textarea,
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  .form-input,
  select {
    width: 100%;
    border: @border-secondary;
    padding: 0.2em 0.4em;
    background-color: white;
    box-sizing: border-box;
    height: 1.9rem;
  }
  textarea { height: auto; }

  input[disabled] {
    background-color: #fdfafa;
    cursor: not-allowed;
  }

  input[type='submit'],
  a.button {
    display: inline-block;
    padding: 0 0.3em;
    margin-right: 1em;
    border: 3px outset darkgrey;
    background-color: gray;
    border-radius: 3px;
    color: white;
  }
  a.button { text-decoration: underline; }
}

nav.pagination {
  text-align: center;
  margin: 1em 0;
}
