h1 { text-align: center; }

.post-list {
  max-width: 820px;
  margin: auto;
  padding: 0;
  list-style-type: none;

  .post {
    border: @border-secondary;
    border-width: 1px 1px 0 1px;

    header {
      display: flex;
      background-color: #f4f6fb;
      padding: 0.2em 0;
      align-items: center;

      & > * { padding: 0 0.8em; }

      a { color: inherit; }

      .author {
        font-weight: bolder;
      }

      a.date {
        flex: 1;
        font-size: smaller;
        text-align: right;
      }
    }

    @media @mobile {
      header {
        flex-direction: column;

        a.time {
          text-align: center;
          font-variant: small-caps;
        }
      }
    }

    .titles {
      text-align: center;

      .in-reply-to { font-size: smaller; }
      h2 { font-size: 1.3em; }

      p,
      h2 {
        margin: 0;
        padding: 0;
      }

      a {
        color: inherit;
      }
    }

    article {
      padding: 10px;
      p:first-child { margin-top: 0; }
      p.file { text-align: center; }
      img { max-width: 100%; }
    }

    footer {
      text-align: center;
      padding-bottom: 1em;
      a { color: gray; }
      p { margin: 0; }
    }

    header h2 {
      flex: 2;
      margin: 0;
      padding: 0;
      font-size: medium;
    }
    header h2 a { color: @font-color; }
  }

  .post:last-child {
    border-bottom: @border-secondary;
  }
}

nav.dates {
  float: left;

  ol {
    list-style-type: none;
    padding: 0;

    ol { margin-left: 1em; }
  }

  @media @mobile {
    & {
      float: none;
      margin: auto;
      border: @border-secondary;
      text-align: center;

      ol { margin: 0; }
    }
  }

  a.current {
    color: @font-color;
    &:hover { text-decoration: none; }
  }
}

form.post-edit {
  #body,
  #map { height: 300px; }
}

form.posse {
  display: flex;

  & > .image {
    flex: 1;
  }

  & > .form {
    flex: 3;
    margin-left: 1em;
  }

  textarea { font-family: monospace; }
}
